body {
	background: #f4f4f5;
}
body.blank {
	background: #5BC0DE;
}
.navbar {
	margin-bottom: 60px;
}
.navbar-inner {
	background: none;
	border: none;
	box-shadow: none;
}

section,
fieldset {
	background: rgb(249, 249, 250);
	padding: 40px 40px 30px 40px;
	margin: 0 0 20px 0;
	-webkit-border-radius: 3;
	-moz-border-radius: 3;
	border-radius: 3;
}

section .inner,
aside .inner {
	padding: 30px;
}

/* Login screen */
.login {
	position:absolute;
	top: 50%;
	left: 50%;
	width: 360px;
	min-height: 317px;
	margin: -15% 0 0 -180px;
}

.login-screen {
	min-width: 315px;
}

.login-icon {
	left:-130px;
	position:absolute;
	top:0px;
	width:96px;
}

.login-icon > img {
	display:block;
	margin-bottom:6px;
	width:100%;
}

.login-icon > h4 {
	font-size:17px;
	font-weight:200;
	line-height:34px;
	opacity:.95;
	color:#fff;
}

.login-icon > h4 small {
	color:inherit;
	display:block;
	font-size:inherit;
	font-weight:700;
}

.login-form {
	background-color:#eceff1;
	border-radius:6px;
	padding:24px 23px 20px;
	width: 315px;
}

.login-form:before {
	content:"";
	border-style:solid;
	border-width:12px 12px 12px 0;
	border-color:transparent #eceff1 transparent transparent;
	height:0;
	position:absolute;
	left:-12px;
	top:35px;
	width:0;
	-webkit-transform:rotate(360deg);
}

.login-form .control-group {
	margin-bottom:6px;
	position:relative;
}

.login-form .login-field {
	font-size:17px;
	padding-bottom:11px;
	padding-top:11px;
	text-indent:3px;
	width:299px;
}

.login-form .login-field:focus + .login-field-icon {
	color:#1abc9c;
}

.login-form .login-field-icon {
	color:#bfc9ca;
	font-size:16px;
	position:absolute;
	right:13px;
	top:14px;
	-webkit-transition:.25s;
	-moz-transition:.25s;
	-o-transition:.25s;
	transition:.25s;
	-webkit-backface-visibility:hidden;
}

.login-link {
	
	display:block;
	font-size:13px;
	margin-top:15px;
	text-align:center;
}

@media (max-width: 767px) {
	.login {
		top: 0;
		position: normal;
	}
	.login-icon {
		position: normal;
		top: auto;
		left: auto;
		margin: 0 auto;
		text-align: center;
	}
}











